table {
    border: 1px solid black;
    border-collapse: collapse;   
    width: 100%;
}

thead {
    background-color: lightblue;
}

th, td {
    border: 1px solid black;   
    padding: 8px;
    text-align: center;
}

tbody {
    text-align: center;
}
